<% title(@goal.name) %>

<h2><%= @goal.name %></h2>

<% if user_signed_in? %>
  <%= link_to "Edit Goal", edit_goal_path(@goal) %> |
  <%= link_to "Delete Goal",
       goal_path(@goal),
       :method => :delete,
       :confirm => "Are you sure you want to delete this goal?" %> |
  <%= link_to "New Step", new_goal_step_path(@goal) %>
<% end %>

<ul id='steps'>
  <% @goal.steps.each do |step| %>
    <li>
      #<%= step.id %> -
      <%= link_to step.name, [@goal, step] %>
    </li>
  <% end %>
</ul>
